<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I am a college student, living in Atlanta Georgia.</p>
    <p>I learned Java, Python, and Ruby while getting my Bachelor's degree. Once I found Ruby I immediately found an obsession. I am continuously learning more Ruby concepts through Udacity's and Udemy's online courses. </p>
    <p>In the last year, I have been putting my programming skills to work towards becoming a full stack web developer by taking an internship and getting hired full-time after demonstrating my diligence and passion for web development.Check out my <a href="https://github.com/jeremiahlukus/">Github</a> to see what I am up to.</p>

  </div>
  <div class="col-2 homepage_content">
    <h2>Things I Have Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I Have Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
</div>
