<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I am a college student, living in Atlanta Georgia.</p>
    <p>Recently started to enter into the field of web development. I stared off learning Java, then started playing around with python. In the fall of 2016 someone told me about Rails, my life has not been the same since.</p> 
    <p>I am also very interested in Andriod development, putting all of this Java I know to good use. Check out my <a href="https://github.com/jeremiahlukus/">github</a> to see what algorithms I am learning, and to follow my RoR adventures </p>

  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I Have Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I Have Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
</div>
